<div class="project-modal-overlay" *ngIf="project">
  <div class="project-card-details">
    <div class="gallery-section">
      <div class="main-image">
        <img [src]="project.images[project.selectedImageIndex]" alt="Project preview">
      </div>
      <div class="thumbnails">
        <div 
          class="thumb" 
          *ngFor="let img of project.images; let i = index" 
          [class.active]="project.selectedImageIndex === i"
          (click)="project.selectedImageIndex = i"
        >
          <img [src]="img" alt="Thumbnail">
        </div>
      </div>
    </div>

    <div class="content-section">
      <p class="project-period">{{ project.period }}</p>
      <h1 class="project-title">{{ project.title }}</h1>
      
      <div class="project-description">
        <p>{{ project.fullDescription | translateData }}</p>
      </div>

      <div class="tech-stack">
        <div class="tech-tag" *ngFor="let tech of project.technologies">
          <span class="tech-icon"></span>
          {{ tech }}
        </div>
      </div>

      <div class="actions">
        <a *ngIf="project.repository" [href]="project.repository" target="_blank" class="btn-action">
          <i class="fa-brands fa-github"></i>
          {{ 'PROJECTS.REPOSITORY' | translate }}
        </a>
        <a *ngIf="project.liveDemo" [href]="project.liveDemo" target="_blank" class="btn-action">
          <i class="fa-solid fa-rocket"></i>
          {{ 'PROJECTS.LIVE_DEMO' | translate }}
        </a>
      </div>
    </div>

    <a routerLink="/projects" class="close-btn">
      <span class="back-icon">←</span> {{ 'COMMON.BACK' | translate }}
    </a>
  </div>
</div>

<div class="not-found" *ngIf="!project">
  <p>{{ 'PROJECTS.NOT_FOUND' | translate }}</p>
  <a routerLink="/projects">{{ 'COMMON.BACK' | translate }}</a>
</div>
