:root {
    --color-primario-1: #03a9f4; /* Azul claro */
    --color-primario-2: #0a141d; /* Azul oscuro */
    --color-primario-3: #0a1a2a; /* Azul marino */
    --color-secundario-1: #F2E11F; /* Amarillo */
    --color-secundario-2: #4d5967; /* Gris */
    --color-secundario-3: #cc2426; /* Rojo */
    --color-terciario-1: #570506; /* Marrón oscuro */
    --color-terciario-2: #342f2f; /* Marrón grisáceo */
    --color-terciario-3: #d0c3c3; /* Beige */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    max-height: 1080px;
    background-color: var(--color-primario-2);
    top: 0;
    left: 0; 
    z-index: 1;
}

.menu {
    display: flex; 
    justify-content: space-between;
    max-width: 1080px;
    width: 100%;
    margin: auto;
    max-height: 100px;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 30%;
}

.links {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 10px;
    /* border: 5px var(--color-primario-1);
    border-radius: 20px; */
}

.links a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    transition: 1s;
    margin-top: 10%;
}

.links li:hover {
    transform: scale(1.2);
}

.main-container section{
    width: 100%;
    background: var(--color-primario-3);
    /* background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgb(17, 27, 39) 100%); */
    height: 100%;
    border: 2px solid black;
}


.main-container section:nth-child(1) {
    margin-top: 100px;
}


#section-banner{
    margin-top:0px;
}

.main-container .row {
    background-color: var(--color-primario-2);
    margin: auto;
    height: 80vh;
    width: 90%;
    max-width: 1080px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.banner {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

.banner .content {
    width: 90%;
    height: 100%;
    max-width: 1080px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%);
}

.banner .content h1 {
    font-size: 17vh;
}

.banner {
    width: 100%;
    height: calc(100vh - 24px);
    animation: banner 10s infinite linear alternate;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h1 {
    position: absolute;
    transform: (-50%, -50%);
    font-size: 8em;
}

.content h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 3px var(--color-primario-1);
}

.content h1:nth-child(2) {
    color: var(--color-primario-1);
    animation: animate 4s ease-in-out infinite;
}

.main-container .antho {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    height: calc(100vh - 54px);
}

.main-container h2 {
    font-size: 70px;
    color: var(--color-secundario-1);
}

.main-container .antho p {
    font-size: 30px;
    color: #fff;
}

.introduce-datos {
    size: 30px;
}

/* pie de pagina */

.pie-pagina {
    width: 100%;
    background-color: var(--color-primario-2);
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
    background-color: #0d2033;
    border-radius: 30%;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social {
    display: flex;
    gap: 10px;
    padding: auto;
    text-decoration: none;
    width: 180px;
    height: 45px;
    color: #fff;
    background-color: #0d2033;
    text-align: center;
}

.pie-pagina .grupo-1 .red-social a {
    margin: auto;
    text-decoration: none;
    color: #fff;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: var(--color-primario-3);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

.antho {
    display: flex;
}

.antho .informacion {
    width: 400px;
    margin: auto;
}

.antho .imagen-antho {
    width: 400px;
    height: 400px;
    margin: auto;
}

.antho .imagen-antho img {
    max-width: 400px;
    max-height: 400px;
    border-radius: 30%;
}

.card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primario-3);
    background-image: linear-gradient(225deg, var(--color-terciario-1) 0%, var(--color-secundario-3) 33%, var(--color-secundario-2) 66%, var(--color-terciario-2) 100%);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px 40px;
}

.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: min(100%, 350px);
    height: 500px;
    padding: 30px 25px;
    background: #fff;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
    border-radius: 45px;
}

.card img {
    max-width: 100%;
}

.card:hover {
    transform: translateY(20px);
}

.card:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(208, 195, 195, 0.5), rgb(10, 10, 29));
    transition: all 0.5s;
    opacity: 0;
    border-radius: 40px;
}

.card:hover::after {
    opacity: 1;
}

.card > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 40px;
}

.card .info {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s;
}

.card:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.card .info h3 {
    font-size: 1.4rem;
    margin: 0;
}

.card .info p {
    letter-spacing: 1px;
    font-size: 0.9rem;
    margin: 10px 0 25px;
    line-height: 130%;
}

.card .info .btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: var(--color-secundario-2);
    font-size: 0.85rem;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.card .info .btn:hover {
    box-shadow: 0px 7px 10px rgb(0, 0, 0, 0.5);
    background-color: var(--color-secundario-2);
    color: #fff;
}

/* Sobre mi */

.about {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    height: calc(100vh-54px);
}

.about p {
    font-size: 30px;
    color: #fff;
}

.about .about-info {
    width: 400px;
    margin: auto;
}

.about .about-img {
    width: 400px;
    height: 400px;
    margin: auto;
}

.about .about-img img {
    width: 400px;
    height: 400px;
    border-radius: 30%;
}

.habilidades-container {
    align-items:center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 40px 40px;
}

.habilidades-container .habilidad {
    position: relative;
    width: min(100%, 350px);
}

.habilidades-container .img-habilidad {
    width: 200px;
    height: 200px;
    margin: auto;

}
.habilidades-container .img-habilidad img {
        width: 200px;
        height: 200px;
        margin: auto;
    
}

#row-habilidades {
display: block;
text-align: center;
}

.habilidades-container .titulo-habilidad{
    font-size: 40px;
    color: #fff;
}

#row-aptitudes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info-aptitudes {
    display: flex;
    justify-content: center;
    gap: 100px; 
}

.lista-aptitudes {
    list-style-type: none;
    padding: 0;
    margin-top: 5vh;
}

.lista-aptitudes li p {
    color: #FFF; 
    font-size: 20px; 
    margin: 0; 
    flex: 1; 
    text-align: left; 
}

.lista-aptitudes li img {
    width: 50px; 
    height: 50px; 
    border: 2px solid var(--color-primario-1); 
    border-radius: 10px; 
    margin-left: 10px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}

.lista-aptitudes li {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 10px;
    height: 60px; 
}

/* Estilos para las secciones de Cursos y Educación General */
.course-item, .education-item {
    background-color: var(--color-primario-3);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
}

.course-item:hover, .education-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.course-item img, .education-item img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
}

.course-item h3, .education-item h3 {
    font-size: 24px;
    margin: 0;
}

.course-item p, .education-item p {
    font-size: 16px;
    margin: 5px 0 0 0;
}   


.course-item {
    flex-direction: column;
    text-align: center;
}


.education-item {
    flex-direction: column;
    text-align: center;
}


.main-container section h2 {
    font-size: 36px;
    color: var(--color-secundario-1);
    text-align: center;
    margin-bottom: 30px;
}

.main-container section {
    padding: 50px 0;
}

.main-container #row-aprendizaje-general, .main-container #row-cursos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-cursos{
    height: 175vh;
}

#row-cursos{
height: 160vh;
}

/*Empleos, experiencia laboral*/



#row-experiencia {
    display: block;
    color: white;
    text-align: center;
}

.card-experiencia {
    background: var(--color-primario-2);
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    transition: transform 0.2s;
}

.card-experiencia:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-experiencia h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: white;
}

.card-experiencia h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
    color: white;
}

.card-experiencia p {
    font-size: 1em;
    margin-bottom: 20px;
    line-height: 1.6;
    color: white;
}

.card-experiencia button {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    transition: background-color 0.3s;
}

.card-experiencia button:hover {
    background-color: #0056b3;
}

.card-experiencia button a {
    color: white;
    text-decoration: none;
}




/*Proyectos*/
#section-proyectos {
    color: white;
    width: 100%;
    background: var(--color-primario-3);
    height: 100%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#row-proyectos{
    width: 50%;
}

.nav-button {
    background-color: var(--color-primario-2);
    border: none;
    color: white;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: var(--color-primario-1)
}

.project-display {
    text-align: center;
    background: var(--color-primario-2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 0 20px;
}

.project-display img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.project-display button {
    background-color: var(--color-terciario-2);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.project-display button:hover {
    background-color: var(--color-primario-1);
}

.project-display button a {
    color: white;
    text-decoration: none;
}




/* Sección de contacto */
.contact {
    background: var(--color-primario-3);
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

.contact h2 {
    margin-bottom: 20px;
}

.email-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.email-section p {
    margin: 0;
    font-size: 1.2em;
    color: #fff;
}

.email-section button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.email-section button:hover {
    background-color: #0056b3;
}

/* Botones de contacto */
.contact-button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 1.2em;
    color: white;
    transition: background-color 0.3s;
    text-decoration: none;
}

.whatsapp-button {
    background-color: #25D366;
}

.whatsapp-button:hover {
    background-color: #1b9f4d;
}

.linkedin-button {
    background-color: #0077B5;
}

.linkedin-button:hover {
    background-color: #005582;
}

.contact-button a {
    color: white;
    text-decoration: none;
}


@keyframes banner {
    0%, 20% {
        background-image: url("/imagenes/banner-1.jpg");
    }
    25%, 45% {
        background-image: url("/imagenes/banner-2.jpg");
    }
    50%, 70% {
        background-image: url("/imagenes/banner-3.jpg");
    }
    75%, 100% {
        background-image: url("/imagenes/banner-4.jpg");
    }
}

@keyframes animate {   
    0%, 100% {
        clip-path: polygon(0 50%, 16% 53%, 33% 58%, 50% 64%, 65% 61%, 83% 57%, 100% 50%, 100% 99%, 0% 100%);
    }
    50% {
        clip-path: polygon(0 54%, 14% 59%, 33% 58%, 51% 53%, 65% 41%, 79% 38%, 100% 39%, 100% 99%, 0% 100%);
    }
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    }
}


