<header class="header" *ngIf="!isLanguageSelectionPage" [ngClass]="{'menu-open': isMenuOpen, 'scrolled': isScrolled, 'header-hidden': !isVisible}">
  <div class="hamburger-menu" (click)="toggleMenu()">
    <div class="line" [ngClass]="{'open': isMenuOpen}"></div>
    <div class="line" [ngClass]="{'open': isMenuOpen}"></div>
    <div class="line" [ngClass]="{'open': isMenuOpen}"></div>
  </div>

  <div class="top-logo">
    <img src="images/Anthofu_Icon.png" alt="AnthoFu Icon">
  </div>

  <nav class="desktop-nav">
    <ul class="nav-links-desktop">
      <li><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{ 'NAV.HOME' | translate | uppercase }}</a></li>
      <li><a routerLink="/about" routerLinkActive="active">{{ 'NAV.ABOUT' | translate | uppercase }}</a></li>
      <li><a routerLink="/projects" routerLinkActive="active">{{ 'NAV.PROJECTS' | translate | uppercase }}</a></li>
      <li><a routerLink="/language" class="lang-switch-desktop">{{ 'NAV.LANGUAGE' | translate | uppercase }}</a></li>
    </ul>
  </nav>
</header>

<nav class="side-nav" [ngClass]="{'open': isMenuOpen}" *ngIf="!isLanguageSelectionPage">
  <ul class="nav-links">
    <li>
      <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">
        <i class="fa-solid fa-house"></i> {{ 'NAV.HOME' | translate | uppercase }}
      </a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active" (click)="closeMenu()">
        <i class="fa-solid fa-user"></i> {{ 'NAV.ABOUT' | translate | uppercase }}
      </a>
    </li>
    <li>
      <a routerLink="/projects" routerLinkActive="active" (click)="closeMenu()">
        <i class="fa-solid fa-code"></i> {{ 'NAV.PROJECTS' | translate | uppercase }}
      </a>
    </li>
    <li>
      <a routerLink="/language" (click)="closeMenu()" class="lang-switch-mobile">
        <i class="fa-solid fa-language"></i> {{ 'NAV.LANGUAGE' | translate | uppercase }}
      </a>
    </li>
  </ul>

  <div class="side-nav-footer">
    <div class="social-links">
      <a href="https://github.com/AnthoFu" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/anthofu/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://www.instagram.com/anthonyxa.fuentes/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <p class="copyright">© 2026 AnthoFu</p>
  </div>
</nav>

<div class="overlay" *ngIf="isMenuOpen && !isLanguageSelectionPage" (click)="closeMenu()"></div>

<div class="floating-contact" *ngIf="!isLanguageSelectionPage">
  <a href="https://github.com/AnthoFu" target="_blank" class="contact-circle">
    <i class="fa-brands fa-github"></i>
  </a>
  <a href="https://www.linkedin.com/in/anthofu/" target="_blank" class="contact-circle">
    <i class="fa-brands fa-linkedin"></i>
  </a>
  <a href="https://www.instagram.com/anthonyxa.fuentes/" target="_blank" class="contact-circle">
    <i class="fa-brands fa-instagram"></i>
  </a>
</div>

<main [class.no-padding]="isLanguageSelectionPage">
  <router-outlet />
</main>

<app-footer *ngIf="!isLanguageSelectionPage"></app-footer>
